<div class="container" id="contenedor">
    <div class="card text-center" id="card">
        <div class="card-header">

        </div>
        <div class="card-body">
            <h5 class="card-title">Enter your personal data</h5>
            <form (ngSubmit)="onSubmit()" autocomplete="off">
                <div class="form-group">
                    <input type="text" class="form-control" id="name" placeholder="Full name" required [(ngModel)]='name' name='name' required>
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" id="id" placeholder="Id" required [(ngModel)]='id' name='id' required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="gender"  placeholder="Gender" required [(ngModel)]='gender' name='gender' required>
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" id="age" placeholder="Age" required [(ngModel)]='age' name='age' required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="address" placeholder="Address" required [(ngModel)]='address' name='address' required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="city" placeholder="City" required [(ngModel)]='city' name='city' required>
                </div>
                <button type="submit" class="btn btn-primary" name="save">Save</button>
            </form>
        </div>
        <div class="card-footer text-muted">
        </div>
    </div>
</div>